[[extend "layout.html"]]

<!-- Authored by S. Fogel -->
<!-- User Profile Display Page -->
<style>
.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 40px;
    padding: 20px; 
}




</style>


<title>Display Profile</title>
<!--Needs to be different for drivers and riders-->

<div class="columns">
    <div class="column is-one-quarter">
        <img src="[[=URL('static', 'profileTemplate.jpg')]]", class="avatar">
    </div>
    [[for p in profile:]]
    <div class="column is-one-quarter">
        [[if p["category"] == "rider":]]
        <table class="table">
            <tr><td>Name</td></tr>
            <tr><td>Schedule</td></tr>
        </table>

        [[else:]] <!--p is a driver-->
        <table class="table">
            <tr><td>Name</td></tr>       
            <tr><td>Car Make</td></tr>
            <tr><td>Car Model</td></tr> 
            <tr><td>Lisence Plate</td></tr> 
            <tr><td>Number of Seats</td></tr>
            <tr><td>Schedule</td></tr>
            <tr>
                <!--insert form here-->
            </tr>      
        </table>
        [[pass]]
    </div>
    [[pass]]
    <div class="column is-half">
        <!--input form that will help edit the information in the user profile.-->
        [[for p in profile:]]
        <table class="table">
          
            <tr><td>[[=p["firstName"] + " " + p["lastName"]]]</td></tr>
                          
             <tr><td>[[=p["carMake"]]]</td></tr>
             
             <tr><td>[[=p["carModel"]]]</td></tr> 
              
             <tr><td>5XXX555</td></tr> 
               
             <tr><td>[[=p["numSeats"]]]</td></tr>
             
             <tr><td>[[=p["schedule"]]]</td></tr>
             <tr>
                <!--insert form here-->
            
            
             
             </tr>
            
              <tr>
            [[if p["category"] == "rider":]]
             <!-- This button should eventually go back to whichever page the user was previously at (rider or driver)-->
                <td><a class="button is-primary" href="[[=URL('rider')]]">
                     <span class="icon"><i class="fa fa-backward"></i></span>
                    <span>Back</span>
                    </a>
                    </td>
            [[else:]]
                <td><a class="button is-primary" href="[[=URL('driver')]]">
                  <span class="icon"><i class="fa fa-backward"></i></span>
                    <span>Back</span>
                </a> </td>
            [[pass]]
            
            <td><a class="button is-warning" href="[[=URL('message')]]">
                  <span class="icon"> <i class="fa fa-envelope" > </i></span>
                    <span>Message</span>
                </a> </td>
            
            </tr>

 
        [[pass]]       
        </table>
    </div>
    
</div>

    





