[[extend "layout.html"]]

<!-- Authored by S. Fogel -->
<!-- User Profile Display Page -->
<style>
.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 40px;
    padding: 20px; 
}



</style>


<title>Edit Profile</title>

<div class="section">
    <div class="container is-mobile">

    <img src="[[=URL('static', 'profileTemplate.jpg')]]", class="avatar" >
        <a class="icon is-medium"><i class="fa fa-plus"></i>  </a>
    
</div>

<div class="section">
    [[=form]]
</div>


<!--input form that will help edit the information in the user profile.-->

       <table class="table">
          
          <tr>
               <!--insert form here-->
           
           <!--these are the buttons that will add and edit schedules, should schedules be its own database table?-->
           
              <td>
                <a class="button is-success"  href="[[=URL('addSchedule',user_id)]]">
                     <span class="icon "> <i class="fa fa-plus"></i>   </span>
                     <span>Add Schedule</span>
                </a>
            </td>
        
            <td>        
                <a class="button is-warning" href="[[=URL('editSchedule',user_id)]]">
                    <span class="icon"> <i class="fa fa-bars"></i></span>
                     <span>Edit Schedule  </span>
                 </a>
            </td>
            
             <td>        
                <a class="button is-primary" href="[[=URL('profile')]]">
                    <span class="icon"><i class="fa fa-backward"></i> </span>
                     <span> Back </span>
                 </a>
            </td>
            
            
            </tr>

              
              </table>

    
</div>



