[[extend "layout.html"]]

<!-- Authored by S. Fogel -->
<!-- User Profile Display Page -->
<style>
.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 40px;
    padding: 20px; 
}
</style>


<title>Edit Profile</title>

<div class="section">
    <div class="container is-mobile">
    <div class="columns">
      <div class="column is-one-quarter">
        <img src="[[=URL('static', 'profileTemplate.jpg')]]", class="avatar" >
      </div>
      <div class="column">
          <h1 class="title">Edit [[=account.first_name]]'s Profile</h1>
          
          <div class="field">
            <label class="label"> First Name </label>      
            <div class="control"><input class="input" type="text" placeholder="[[=account.first_name]]"></div>    

            <label class="label"> Last Name </label>      
            <div class="control"><input class="input" type="text" placeholder="[[=account.last_name]]"></div>   
            
            <label class="label"> Location </label>      
            <div class="control"><input class="input" type="text" placeholder="Location"></div>
            
            <label class="label">Category </label>    
            <div class="control">
              <label class="radio"><input type="radio" name="question">Driver</label>
              <label class="radio"><input type="radio" name="question">Rider</label>
            </div>
          
            <label class="label"> Car Make </label>      
            <div class="control"><input class="input" type="text" placeholder="e.g Kia"></div>

            <label class="label"> Car Model </label>      
            <div class="control"><input class="input" type="text" placeholder="e.g Sorento"> </div>

            <label class="label">Number of Seats</label>
            <div class="control">
              <div class="select">
                <select>
                  <option> 1 </option>
                  <option> 2 </option>
                  <option> 3 </option>
                  <option> 4 </option>
                  <option> 5 </option>
                  <option> 6 </option>
                  <option> 7 </option>
                </select>
              </div>
            </div>
          </div>
      </div>
      
    </div>
 
</div>


<div class="section">
  <div class="container is-mobile">
  <div class="columns">
    <div class="column is-one-quarter">
    </div>
    <section class="section">
      <div class="container">
        <div class="title">Schedule</div>
        <table class="table is-striped is-fullwidth">
          <tr>
             <th>Monday</th>
             <th>Tuesday</th>
             <th>Wednesday</th>
             <th>Thursday</th>
             <th>Friday</th>
             <th>Saturday</th>
             <th>Sunday</th>
             <th></th>
          </tr>
          [[for row in rows:]]
          <tr>
             <td>[[=row["monday"]]]</td>
             <td>[[=row["tuesday"]]]</td>
             <td>[[=row["wednesday"]]]</td>
             <td>[[=row["thursday"]]]</td>
             <td>[[=row["friday"]]]</td>
             <td>[[=row["saturday"]]]</td>
             <td>[[=row["sunday"]]]</td>
             <td>
                <a class="button is-warning" href="[[=URL('editSchedule', row.id, signer=url_signer)]]">
                  <span class = "icon"><i class = "fa fa-fw fa-edit"></i></span>
                  <span></span>
                </a>
             </td>
          </tr>
          [[pass]]
       </table>     
       <a class="button is-warning" href="[[=URL('addSchedule')]]">
        <span class = "icon"><i class = "fa fa-plus"></i></span>
        <span>Add Schedule</span>
      </a> 
      </div>
    
    </section>
    
  </div>

</div>

