[[extend "layout.html"]]

<!-- Authored by S. Fogel -->
<!-- User Profile Display Page -->
<style>
.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 40px;
    padding: 20px; 
}

</style>


<title>Display Profile</title>

    <div class="columns">
    <div class="column is-one-quarter">
        <img src="[[=URL('static', 'profileTemplate.jpg')]]", class="avatar">
    </div>
    <div class="column is-one-quarter">
        <!--Labels for the table-->
        <table class="table">
          
            <tr><td>Name</td></tr>
            
            <tr> <td> Category</td> </tr>
             
             <tr><td>Availability:</td></tr>
             <!--if the user is a driver than it should display certain info such as the car make, number of seats, and car model -->
            
               
        </table>
    </div>
    <div class="column is-half">
        <!--input form that will help edit the information in the user profile.-->
        [[for r in rows:]]
        <table class="table">
          
            <tr><td>[[=r["first_name"] + " " + r["last_name"]]] </td></tr>
                          
             <tr><td>  Rider</td></tr>
             
             [[for s in schedule:]]
          <tr>
             [[if s["monday"] : ]]
             <td>
                  <a class="button is-success is-small">
                        <span>[[=s["monday"]]]</span>
                    </a> 
             </td>

             [[else:]]
            <td></td>
            [[pass]]
            
             [[if s["tuesday"] : ]]
                 <td>
                  <a class="button is-success is-small">
                        <span>[[=s["tuesday"]]]</span>
                    </a> 
             </td>
            [[else:]]
            <td></td>
            [[pass]]
            
             [[if s["wednesday"] : ]]
                 <td>
                  <a class="button is-success is-small">
                        <span>[[=s["wednesday"]]]</span>
                    </a> 
             </td>
            [[else:]]
            <td></td>
            [[pass]]
            
             [[if s["thursday"] : ]]
                 <td>
                  <a class="button is-success is-small">
                        <span>[[=s["thursday"]]]</span>
                    </a> 
             </td>
            [[else:]]
            <td></td>
            [[pass]]
            
             [[if s["friday"] : ]]
                <td>
                  <a class="button is-success is-small">
                        <span>[[=s["friday"]]]</span>
                    </a> 
             </td>
            [[else:]]
            <td></td>
            [[pass]]
            
             [[if s["saturday"] : ]]
                <td>
                  <a class="button is-success is-small">
                        <span>[[=s["saturday"]]]</span>
                    </a> 
             </td>
            [[else:]]
            <td></td>
            [[pass]]
            
             [[if s["sunday"] : ]]
                <td>
                  <a class="button is-success is-small">
                        <span>[[=s["sunday"]]]</span>
                    </a> 
             </td>
            [[else:]]
            <td></td>
            [[pass]]
             
          
             
          </tr>
          [[pass]]
                 </table>
             </td>    
             </tr>
             
             <tr>
                  <td>
                    <a class="button is-warning" href="[[=URL('editProfile', r['id'] )]]">
                        <span class="icon"> <i class="fa fa-bars"></i> </span>
                        <span>Edit</span>
                    </a> 
                    
                </td>
                
                <td>
                     <a class="button is-primary" href="[[=URL('index')]]">
                    <span class="icon"><i class="fa fa-backward"></i> </span>
                     <span> Back </span>
                 </a>
                </td>
            
             </tr> 
              
             
        
          
        </table>
        [[pass]]
    </div>
    
</div>

    







    





