[[extend 'layout.html']]

<p class="is-size-2">Available Riders</p>

<div class="section">
    <body>
        <div class="field has-addons">
          <div class="control">
            <div class="select">
              <select>
                <option value="date">Select Date</option>
                <option value="date">Sunday</option>
                <option value="date">Monday</option>
                <option value="date">Tuesday</option>
                <option value="date">Wednesday</option>
                <option value="date">Thursday</option>
                <option value="date">Friday</option>
                <option value="date">Saturday</option>
              </select>
            </div>
          </div>
          <div class="control">
            <button class="button is-primary">Search</button>
          </div>
        </div>
      </body>


      <body>
        [[for i in results:]]
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="profileTemplate.jpg" alt="Profile Picture"> <!-- needs to be i[profilePic] -->
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Full Name</strong>: [[=i["firstName"] + " " + i["lastName"]]]
                </p>
                <p>
                  <strong>Location</strong>: [[=i["location"]]]
                </p>
                <p>
                  <strong>Schedule</strong>: [[=i["schedule"]]]
                </p>
              </div>
              <div class="control">
                <a class="button is-primary" href="[[=URL('displayProfile', i['id'])]]">Full Bio</a>
                <a class="button is-primary" href="[[=URL('message')]]">Message</a>
              </div>
            </div>
          </article>
        </div>
        [[pass]]
      </body>
      
                  
</div>
